.navbar-inverse{
  background-color:olivedrab;
}

.navbar-inverse .navbar-nav>li>a{
  color:white;
}

.navbar-inverse .navbar-brand{
  color:white;
}

#pg1{
  color:aqua;
}

#pg2{
  color:burlywood;
}